.root {
  display: grid;
  grid-row-gap: 12px;
  overflow-x: auto;
  & .table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0px;
    thead {
      background: #0a508b;
    }
    th {
      border: 1px #0a508b solid;
      color: rgba(255, 255, 255, 0.5);
      font-weight: inherit;
    }
    td {
      border: 1px #ebebeb solid;
      color: #868a8d;
    }
    th,
    td {
      padding: 9px 12px;
    }
  }
}
